.home-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;

  .card-size {
    width: 100%;
    height: 1061px;
    position: relative;
    overflow: hidden;
  }

  .card-size .carousel-item {
    height: 100%;
  }

  .card-size img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
 /* .card-size {
    margin: 0 0 40px 0;
    width: 100%;
    height: 100%;

    img {
      border-radius: 0;
    }
  } */

  .cards-size {
    width: 90%;
    height: 100%;
    margin: 80px 0;

    img {
      width: 500px;
      height: 300px;
     // border-radius: 25px;
    }

    .card {
      margin: 0 20px;
      // border-radius: 25px;
      .card-body {
        position: absolute;
        left: 0;
        bottom: 0;
        color: transparent;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        h1 {
          font-size: 3rem;
          font-weight: 700;
          margin-bottom: 20px;
          text-transform: uppercase;
        }
        p {
          font-size: 1.6rem;
          margin-bottom: 20px;
        }
        .btns {
          color: transparent;
          background: transparent;
        }
      }

      &:hover {
        .card-body {
          color: #FDF7F4;
          background: rgba(0, 10, 255, 0.39);
        }
        .btns {
          border: none;
          color: white;
          font-size: 1rem;


          &:hover {
            color: white;
            border-bottom: 3px solid white;
          }

          &:active {
            color: #333333;
            border: 0 solid transparent;
            background: rgba(114, 7, 7, 0.25);
          }
        }
      }
    }
  }
  .smallnav{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    h1 {
      font-size: 4rem;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
  .carts-thirds {
    width: 90%;
    height: 100%;
    margin: 15px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
      li {
        a {
          color: #333333;
        }

        .active {
          color: firebrick;
          text-decoration: underline;
        }
      }
    }

    .cards-fourth {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: center;

      p {
        a {
          font-size: 1.2rem;
          color: #333333;
          background: transparent;
          border-color: lightgray;
          margin: 0 5px;
        }
      }
    }
  }

  .collapse {
    width: 90%;
    height: auto;
    margin: 10px 0;

    .card-body {
      display: flex;
      justify-content: center;
      align-items: center;

      .input-group {
        width: 80%;

        .searchInput {
          border: none;
          border-bottom: 1px solid #ddd;
        }
      }

      .btn-cards {
        background: rgba(114, 7, 7, 0.35);
        color: #333333;
        width: 100px;
        margin: 0 10px;
      }
    }
  }

  .cards-fifith {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
      .articleDetails {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    img {
      width: 100%;
      height: 100%;
      &:hover {
        object-fit: cover;
      }
    }
  }

  .more-button {
    font-size: 1.2rem;
    width: 100px;
    height: 30px;
    margin: 10px 0;
    border-radius: 10px;
  }

  .modal-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;

    .images-display {
      display: flex;
      align-items: center;
      flex-direction: column;
      border-right: 2px solid black;
      padding: 0 20px;
    }
    .big-image {
      width: 300px;
      height: auto;
    }
  .small-photo {
    img {
      width: 100px !important;
      height: 100px !important;
    }
  }
    .bags-details {
      width: 50%;
      padding: 0 20px;
      margin: 30px 0;
      .dropdown {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        button {
          width: 150px;
        }
      }
      .quantiyBags {
        display: flex;
        justify-content: center;
        align-items: center;
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          p {
            margin-bottom: 0;
          }
          button{
            margin: 0 30px;
          }
        }
      }
      .addButton {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          border-radius: 23px;
          padding: 10px 20px;
        }
      }
    }
  }
}
  @media only screen and (max-width: 600px) {
    .home-container .card-size {
      height: 280px;
    }
    .cards-size {
      width: 100% !important;
      margin: 30px 0 !important;

      img {
        width: 100% !important;
        height: auto !important;
      }

      .card {
        margin: 20px !important;

        .card-body {
          text-align: center;

        }
      }
    }
    .smallnav{
      width: 90% !important;
      h1 {
        font-size: 2rem !important;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
    .carts-thirds {
      width: 90% !important;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: space-between !important;
      align-items: flex-end !important;
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

      .cards-fourth {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: center;

        p {
          a {
            font-size: 1.2rem;
            color: #333333;
            background: transparent;
            border-color: lightgray;
            margin: 0 5px;
          }
        }
      }
    }
    .collapse {
      width: 100%;
      height: auto;
      margin: 10px 0;

      .card-body {
        display: flex;
        justify-content: center;
        align-items: center;

        .input-group {
          width: 100% !important;

          .searchInput {
            border: none;
            border-bottom: 1px solid #ddd;
          }
        }

        .btn-cards {
          background: rgba(114, 7, 7, 0.35);
          color: #333333;
          width: 60px !important;
          font-size: 10px;
          margin: 0 10px;
        }
      }
    }
    .cards-fifith {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
      /*  width: 400px;
        height: 300px !important; */
      }
      .modal-body {
        flex-direction: column;
        .images-display {
          display: flex;
          align-items: flex-start;
          flex-direction: row-reverse;
          border-right: none;
          flex-wrap: nowrap;
          img {
            width: 200px !important;
            height: 200px !important;
          }
          .small-photo {
            flex-direction: column;
            width: 50px;
            height: 50px;
            margin-right: 40px;
          }
        }

        .bags-details {
          border-top: 2px solid #ddd;
          width: 100%;
          padding: 10px 0;
          margin: 30px 0;
          .dropdown {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: center;
            button {
              width: 150px;
            }
          }
          .quantiyBags {
            display: flex;
            justify-content: center;
            align-items: center;
            label {
              display: flex;
              justify-content: center;
              align-items: center;
              p {
                margin-bottom: 0;
              }
              button{
                margin: 0 30px;
              }
            }
          }
          .addButton {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              border-radius: 23px;
              padding: 10px 20px;
            }
          }
        }
      }
    }
    .home-container .cards-size .card .card-body {
      color: #222;
    }

  }
  @media (min-width: 601px) and (max-width: 1101px) {
    .home-container .cards-size img {
      width: 500px;
      height: 195px;
    }
    .home-container .card-size {
      width: 100% !important;
      height: 500px !important;
    }
      .home-container .cards-size .card .card-body h1 {
        font-size: 2rem !important;
      }
    .home-container .smallnav {
      width: 95%;
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
    }
    .home-container .cards-size .card .card-body p {
      font-size: 1.1rem !important;
    }
    .home-container .cards-size .card .card-body {
      color: #222;
    }
    .home-container .cards-size {
      width: 100%;
      height: 100%;
      margin: 40px 0;
    }
    .home-container .carts-thirds {
      width: 95% !important;
    }

    .home-container .collapse {
      width: 95% !important;
    }

    .home-container .collapse .card-body .input-group {
      width: 95% !important;
    }

    .home-container .cards-fifith {
      width: 95%;
    }
    .home-container .cards-fifith img {
     /* width: 400px;
      height: 300px !important; */
    }
    .home-container .cards-fifith .modal-body {
      flex-direction: column;
      .images-display {
        display: flex;
        align-items: flex-start;
        flex-direction: row-reverse;
        border-right: none;
        flex-wrap: nowrap;
        .big-image {
          width: 300px !important;
          height: 500px !important;
        }
        .small-photo {
          flex-direction: column;
          width: 70px;
          height: 50px;
          margin-right: 40px;
        }
      }

      .bags-details {
        border-top: 2px solid #ddd;
        width: 100%;
        padding: 10px 0;
        margin: 30px 0;
        .dropdown {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-around;
          flex-direction: row;
          align-items: center;
          button {
            width: 150px;
          }
        }
        .quantiyBags {
          display: flex;
          justify-content: center;
          align-items: center;
          label {
            display: flex;
            justify-content: center;
            align-items: center;
            p {
              margin-bottom: 0;
            }
            button{
              margin: 0 30px;
            }
          }
        }
        .addButton {
          margin-top: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            border-radius: 23px;
            padding: 10px 20px;
          }
        }
      }
    }
  }

