<div class="footer-container">
  <div class="footer-content">
    <div class="row">
      <div class="col-sm-0 col-lg-1"></div>
    <div class="col-sm-6 col-lg-2 column-list">
      <ul>
        <li>CATEGORIES</li>
        <li><a>All Products</a></li>
        <li><a>Women</a></li>
        <li><a>Men</a></li>
        <li><a>Children</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-lg-2 column-list">
      <ul>
        <li>HELP</li>
        <li><a>Track Order</a></li>
        <li><a>Returns</a></li>
        <li><a>Shipping</a></li>
        <li><a>FAQs</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-lg-3 column-list">
      <ul>
        <li>GET IN TOUCH</li>
        <li>Any questions? Let us know in store at 3th floor, 80 Mostfa Hjaij, New Ariana, Tunisia or call us on (+216) 98 678 795</li>
        <ul class="footer-list-sociel">
          <li><i class="fa-brands fa-facebook"></i></li>
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-brands fa-pinterest"></i></li>
        </ul>
      </ul>
    </div>
    <div class="col-sm-6 col-lg-3 column-list">
      <ul class="footer-news">
        <li>NEWSLETTER</li>
        <li><input type="text" placeholder="email@example.com"></li>
        <li><button class="btn btn-light">SUBSCRIBE</button></li>
      </ul>
    </div>
      <div class="col-sm-0 col-lg-1"></div>
  </div>
  </div>
</div>
