<div class="contact-container">
  <div class="contact-content">
    <div class="contact-image">
    </div>
    <div class="contact-details">
      <div class="contact-left">
        <h2>Send Us A Message</h2>

        <input
          type="email"
          class="contact-det"
          placeholder="Your Email Address"
          [(ngModel)]="contactForm.email"
          name="email"
          required
        />

        <textarea
          placeholder="How can we help?"
          [(ngModel)]="contactForm.message"
          name="message"
          required
        ></textarea>

        <button class="btn btn-light" (click)="sendEmail()">SEND</button>
      </div>
      <div class="contact-right">
        <ul>
          <li>
            <p><i class="fa-solid fa-location-dot"></i><span>Address</span></p>
            <p>mostfa hjayej, nouvelle ariana, Tunisia</p>
          </li>
          <li>
            <p><i class="fa-solid fa-phone"></i><span>Lets Talk</span></p>
            <p><a href="https://wa.me/21698678795" target="_blank" rel="noopener noreferrer">
              +216 98 678 795
            </a></p>
          </li>
          <li>
            <p><i class="fa-solid fa-envelope"></i><span>Sale Support</span></p>
            <p><a href="mailto:Akrem.allagui@gmail.com">Akrem.allagui&#64;gmail.com</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
