<div class="shop-container">
  <div class="shop-content">
    <div class="vitrine">
    </div>
    <div class="shop-filter">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Sort By
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li><a>Default</a></li>
                <li><a>Best selling</a></li>
                <li><a>Alphabetically, A-Z</a></li>
                <li><a>Alphabetically, Z-A</a></li>
                <li><a>Price, low to high</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Availability
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">In stock only</label>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Color
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li>
                  <input class="form-check-input" type="checkbox" id="beige" name="interest" />
                  <label for="beige"><span class="coleur"></span> Beige</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="black" name="interest" />
                  <label for="black"><span class="coleur"></span> Black</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="blue" name="interest" />
                  <label for="blue"><span class="coleur"></span> Blue</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="brown" name="interest" />
                  <label for="brown"><span class="coleur"></span> Brown</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="gold" name="interest" />
                  <label for="gold"><span class="coleur"></span> Gold</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="green" name="interest" />
                  <label for="green"><span class="coleur"></span> Green</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="grey" name="interest" />
                  <label for="grey"><span class="coleur"></span> Grey</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="red" name="interest" />
                  <label for="red"><span class="coleur"></span> Red</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Category
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags1" name="interest" />
                  <label for="bags1"> Apparel & Accessories</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags2" name="interest" />
                  <label for="bags2"> Backpacks</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags3" name="interest" />
                  <label for="bags3"> Briefcases</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags4" name="interest" />
                  <label for="bags4"> Bucket Bags</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags5" name="interest" />
                  <label for="bags5"> Charms & Pendants</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags6" name="interest" />
                  <label for="bags6"> Clutch Bags</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags7" name="interest" />
                  <label for="bags7"> Cross Body Bags</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags8" name="interest" />
                  <label for="bags8"> Handbags</label>
                </li>
                <li>
                  <input class="form-check-input" type="checkbox" id="bags9" name="interest" />
                  <label for="bags9"> Wallets</label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Price
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="range-wrap">
                <div class="range-value" [ngStyle]="{ left: rangePosition }">
                  <span>{{ rangeValue }}</span>
                </div>
                <input
                  type="range"
                  min="0"
                  max="300"
                  step="1"
                  [value]="rangeValue"
                  (input)="onRangeChange($event)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shop-catalogue">
      <div class="carts-thirds">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" (click)="resetFilter()">All Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filterByGender('Women')">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filterByGender('Men')">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filterByGender('Children')">Children</a>
          </li>
        </ul>

        <div class="cards-fourth">
          <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1" data-bs-target="#collapseExample2">
              <i class="fa-solid fa-magnifying-glass"></i> Search
            </a>
            <a class="btn btn-primary disabled" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2" data-bs-target="#collapseExample1">
              <i class="fa-solid fa-filter"></i> Filter
            </a>
          </p>
        </div>
      </div>
      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          soon !
          <button class="btn btn-cards" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
            wait !
          </button>
        </div>
      </div>
      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          <div class="input-group">
            <input type="text"
                   class="form-control searchInput"
                   placeholder="Search Bags..."
                   [(ngModel)]="searchTerm"
                   (input)="applyFilters()">
            <button class="btn btn-cards" type="button" (click)="clearSearch()">
              CLEAN
            </button>
            <button class="btn btn-cards" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
              OK
            </button>
          </div>
        </div>
      </div>
      <div class="cards-fifith">
        <div class="row">
          <div *ngFor="let bag of filteredBags" class="col-md-3 mb-3">
            <div class="card" (click)="openModal(bag)" style="cursor: pointer;">
              <img [src]="bag.images[0]" class="card-img-top" alt="{{ bag.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ bag.name }}</h5>
                <p class="card-text">{{ bag.description }}</p>
                <p class="card-text">${{ bag.price }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="bagModal" tabindex="-1">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content p-3">
              <div class="modal-header">
                <h5 class="modal-title">{{ selectedBag?.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
              </div>
              <div class="modal-body">
                <div class="images-display">
                  <img [src]="currentImage" class="img-fluid mb-3" alt="Main image">
                  <div class="d-flex gap-2">
                    <img *ngFor="let thumb of selectedBag?.photos"
                         [src]="thumb"
                         class="img-thumbnail"
                         style="width: 100px; height: 100px ; cursor: pointer;"
                         (click)="changeImage(thumb)"
                         alt="bags image">
                  </div>
                </div>
                <div class="bags-details">
                  <p class="mt-3">{{ selectedBag?.description }}</p>
                  <p><strong>{{ selectedBag?.price | currency }}</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn more-button btn-outline-secondary">LOAD MORE</button>
      </div>
    </div>
  </div>
</div>
